*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #FFE4C4;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: cursive;
}
.button-style{
    background-color: #8B4513;
    color: #fff;
    font-size: 20px;
}
.button-style:hover{
    background-color: #52290c !important; 
    color: #fff !important;
}
.item-box{
    width: 100%;
    height: 150px;
    background-color: #fff;
    border: 1px solid #8B4513;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.show-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hr-tag{
    border: 1px dashed #8B4513;
}
.text{
    color: gray;
}
.node-text{
    color:#8B4513 ;
}

